*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}


.slides {
  display: grid;
}

.slides > .slide {
  grid-area: 1/-1;
}

.slides > button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  color: black;
  position: absolute;
  font-size: 5rem;
  width: 5rem;
  height: 5rem;
  top: 30%;
  transition: opacity 0.3s;
  opacity: 0.6;
  z-index: 5;
}
.slides > button:hover {
  opacity: 1;
}
.slides > button:focus {
  outline: none;
}
.slides > button:first-child {
  left: -50%;
}
.slides > button:last-child {
  right: -50%;
}

.slideContent {
  width: 35vh;
  height: 40vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
  opacity: 0.7;
  display: grid;
  align-content: center;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(1000px) translateX(calc(100% * var(--offset))) rotateY(calc(-45deg * var(--dir)));
}

.slideContentTop {
  text-shadow: 0 0.1rem 1rem #000;
  opacity: 0;
  position: absolute;
  top: -50px;
  font-size: 25px;
  white-space: pre-line;
  text-align: center;
  width: 35vh;
}
  

.slideContentBottom {
  text-shadow: 0 0.1rem 1rem #000;
  opacity: 0;
  position: absolute;
  top: calc(40vh + 10px);
  white-space: pre-line;
}

.slideBackground {
  top: -100px;
  left: -120%;
  right: -120%;
  bottom: -160px;
  background-size: cover;
  background-position: center center;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s linear, transform 0.3s ease-in-out;
  pointer-events: none;
  transform: translateX(calc(10% * var(--dir)));
}

.slide[data-active] {
  z-index: 2;
  pointer-events: auto;
}
.slide[data-active] .slideBackground {
  opacity: 0.2;
  transform: none;
}
.slide[data-active] .slideContentTop {
  opacity: 1;
}
.slide[data-active] .slideContentBottom {
  opacity: 1;
}
.slide[data-active] .slideContent {
  opacity: 1;
  transform: perspective(1000px);
}
.slide[data-active] .slideContent:hover {
  transition: none;
}

@media only screen and (max-width: 1023px) {
  .slideContentTop {
    font-size: 14px;
    top: -30px;
  }

  .slideContentBottom {
    text-shadow: 0 0.1rem 1rem #000;
    opacity: 0;
    position: absolute;
    top: 40vh;
    white-space: pre-line;
    font-size: 13px;
  }
}