name: Update gist with Instagram Data
on:
  schedule:
    - cron: "0 0 * * *"
jobs:
  update-data:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@master
      - name: Update instagram data to gist1
        uses: Oskang09/oskayuzy@master
        env:
          GIST_ID: f552f4285675cce59b1c8a6e8ec90e92
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          IG_USERNAME: ${{ secrets.IG_USERNAME }}
          IG_PASSWORD: ${{ secrets.IG_PASSWORD }}
